@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --blue-color: #338af3;
  --yellow-color: #ffda44;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: var(--blue-color);
}
